body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Color de fondo ligero */
    margin: 0; /* Sin margen en el body */
    padding: 20px; /* Padding alrededor de todo el contenido */
}

h1 {
    text-align: center; /* Centrar el texto */
    margin-top: 20px;  /* Espacio superior opcional */
    margin-bottom: 20px; /* Espacio inferior opcional */
    background-color: #007bff; /* Fondo azul */
    color: white; /* Texto en blanco */
    font-size: 2.5em; /* Aumentar el tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    padding: 15px; /* Agregar padding para espacio interno */
    border-radius: 5px; /* Bordes redondeados */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de texto para profundidad */
    letter-spacing: 1px; /* Espaciado entre letras */
}

form {
    margin-bottom: 20px;
    background-color: #ffffff; /* Fondo blanco para el formulario */
    padding: 20px; /* Espacio interno del formulario */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    display: flex; /* Usar flexbox */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    align-items: center; /* Centrar los elementos verticalmente */
}

form label {
    margin-right: 10px; /* Espacio entre la etiqueta y el campo */
}

form input {
    margin-right: 10px; /* Espacio entre los campos */
    margin-bottom: 10px; /* Espacio inferior opcional para separación */
    flex: 1; /* Permitir que los inputs se expandan */
    min-width: 150px; /* Ancho mínimo para los inputs */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; /* Margen superior */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; /* Alinear texto a la izquierda */
}

th {
    background-color: #f2f2f2; /* Color de fondo de las cabeceras */
}

tr:hover {
    background-color: #f1f1f1; /* Efecto hover en las filas de la tabla */
}

button {
    background-color: #4CAF50; /* Color de fondo verde suave */
    color: white;            /* Color de texto blanco */
    font-weight: bold;       /* Texto en negrita */
    border: none;            /* Sin borde */
    padding: 10px 15px;     /* Espaciado alrededor del texto */
    cursor: pointer;         /* Cursor tipo puntero al pasar por encima */
    border-radius: 5px;     /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave al cambiar el color */
    margin-top: 20px;       /* Mayor margen superior para separar del formulario */
    display: block;          /* Para que el botón ocupe el 100% del ancho */
    width: 100%;             /* Para que el botón tenga el ancho completo del formulario */
}


button:hover {
    background-color: darkgreen; /* Color de fondo más oscuro al pasar el puntero */
}